
{{ define "main" }}
<main aria-role="main">
    <div style="margin: 0px auto; max-width: 600px; padding: 0px 1.0875rem 1.45rem;">
        <div style="text-align: center;">
            <img src="{{ "./images/teadrinker.png" }}" alt="Pouring Tea Avatar"
                style="border-radius: 50%; margin-top: 30px;">
            <h1 style="margin-top: 0rem;">John Kane</h1>
            <h3 style="margin-top: 0rem;">Programmer</h3>
            <div style="margin-bottom: 3rem;">
                <div style="display: inline-block;">
                    <div class="brand-link" style="margin-top: 0rem; text-align: left;">
                        <p style="margin-bottom: 0.25rem;">
                            <i style="margin-right: 0.8rem; width: 1rem; text-align: center;" class="fab fa-ethereum"></i>
                            <a href="http://johnkane.eth">johnkane.eth</a>
                        </p>
                    </div>
                    <div class="brand-link" style="margin-top: 0rem; text-align: left;">
                        <p style="margin-bottom: 0.25rem;">
                            <i style="margin-right: 0.8rem; width: 1rem; text-align: center;" class="fab fa-github"></i>
                            <a href="https://github.com/kanej">Github</a>
                        </p>
                    </div>
                    <div class="brand-link" style="margin-top: 0rem; text-align: left;">
                        <p style="margin-bottom: 0.25rem;">
                            <i style="margin-right: 0.8rem; width: 1rem; text-align: center;" class="fab fa-twitter"></i>
                            <a href="https://twitter.com/john_kane">Twitter</a>
                        </p>
                    </div>
                    <div class="brand-link" style="margin-top: 0rem; text-align: left;">
                        <p style="margin-bottom: 0.25rem;">
                            <i style="margin-right: 0.8rem; width: 1rem; text-align: center;" class="fab fa-keybase"></i>
                            <a href="https://keybase.io/kanej">Keybase</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}

