
{{ define "main" }}
<main aria-role="main">
    <article class="article-body">
        <div class="home-page-box">
            <img class="home-page-avatar" src="{{ "./images/teadrinker.png" }}" alt="Pouring Tea Avatar">
            <h1 style="margin-top: 0rem;">John Kane</h1>
            <h3 style="margin-top: 0rem;">Programmer</h3>
            <div class="brand-box">
                <div class="brand-link">
                    <p>
                        <i class="fab fa-ethereum"></i>
                        <a href="http://johnkane.eth">johnkane.eth</a>
                    </p>
                </div>
                <div class="brand-link">
                    <p>
                        <i class="fab fa-github"></i>
                        <a href="https://github.com/kanej">Github</a>
                    </p>
                </div>
                <div class="brand-link">
                    <p>
                        <i class="fab fa-twitter"></i>
                        <a href="https://twitter.com/john_kane">Twitter</a>
                    </p>
                </div>
                <div class="brand-link">
                    <p>
                        <i class="fab fa-keybase"></i>
                        <a href="https://keybase.io/kanej">Keybase</a>
                    </p>
                </div>
            </div>
        </div>
    </article>
</main>
{{ end }}

