<head>
    <meta charset="utf-8">

    <title>kanej</title>
    <meta name="description" content="John Kane's Personal Site">
    <meta name="author" content="John Kane">
    <link rel='canonical' href='https://www.kanej.me' />

    <link rel="shortcut icon" href="{{ "/icons/icon-48x48.png" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/typography.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/googleFonts.css" | relURL }}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/brands.css' integrity='sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite' crossorigin='anonymous' />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css' integrity='sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7' crossorigin='anonymous' />
</head>