<div style="background: white none repeat scroll 0% 0%; margin-bottom: 1.45rem;">
    <div style="margin: 0px auto; max-width: 960px; padding: 1.45rem 1.0875rem;">
        <h3 style="margin: 0px; float: left;">
            <a aria-current="page" style="color: black; text-decoration: none;" class="" href="{{ "/index.html" | relURL }}">kanej</a>
        </h3>
        <h3 style="margin: 0px; float: right;">
            <a style="color: black; text-decoration: none;" href="{{ "/about/index.html"  | relURL }}">about</a>
        </h3>
    </div>
</div>