/* CSS for kanej.me */

body {
  background: #333;
  color: #FFF;
  margin-bottom: 60px;
}

#content {
  margin-top: 30px;
}

.kettle-icon-panel {
  text-align: center;
  margin-top: 60px;
}

.blurb p {
  margin-top: 0px;
  text-align: center;
  color: #AAA;
}

.big-icon svg {
  cursor: pointer;
  text-align: center;
}
