.page-container {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr fit-content(960px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header header' '. main .' 'footer footer footer';
  align-items: start;
}

.page-container header {
  grid-area: header;
}

.page-container main {
  grid-area: main;
  padding: 0rem 1rem 0rem 1rem;
}

.page-container footer {
  grid-area: footer;
  color: lightgrey;
  text-align: center;
}

.page-container main h2 {
  margin-top: 0;
}

.article-body {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.nav-bar {
  background: white none repeat scroll 0% 0%;
  margin-bottom: 1.45rem;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar > div {
  margin: 0px auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.nav-bar .nav-brand {
  margin: 0px;
  float: left;
}

.nav-bar .nav-page-link {
  margin: 0px;
  padding-right: 1rem;
  float: right;
}

/* Homepage */

.home-page-box {
  text-align: center;
}

.home-page-avatar {
  border-radius: 50%;
  margin-top: 30px;
}

.brand-box {
  display: inline-block;
}

.brand-link {
  margin-top: 0rem;
  text-align: left;
}

.brand-link > p {
  margin-bottom: 0.25rem;
}

.brand-link > p > i {
  margin-right: 0.8rem;
  width: 1rem;
  text-align: center;
}

/* Talks Page */

.talk-box {
  margin-bottom: 2rem;
}

.talk-header {
  height: 2rem;
}

.talk-header h3 {
  margin: 0rem;
}

.talk-content p {
  margin-bottom: 0.7rem;
}

.talk-venue h5 {
  margin: 0rem;
}

.talk-links a {
  text-decoration: underline;
}
