<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>kanej.me</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/pedestal.css" rel="stylesheet">
    <link href="/kanej.me.css" rel="stylesheet">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="xpath.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="content"></div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/raphael.js"></script>
    <script src="/game.js"></script>
    <script id="script-driver"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21599577-2', 'kanej.me');
      ga('send', 'pageview');

    </script>

  </body>
</html>
