<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">

    <div id="content">


        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Kanej</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about">About</a></li>
                </ul>

            </div>
        </nav>


        <div template="intro" field="id:id">

            <div id="prog-blurb" class="blurb row">
                <p class="lead">Hello, I'm John Kane</p>
                <p class="lead">A programmer living in the wilds of North Devon, England</p>
            </div>

            <div id="icon-group-wrapper">
                <div class="row">
                    <div class="big-icon col-md-2 col-md-offset-1" id="github-icon"></div>
                    <div class="big-icon col-md-2 col-md-offset-1" id="twitter-icon"></div>
                    <div class="big-icon col-md-2 col-md-offset-1" id="linkedin-icon"></div>
                </div>
            </div>

        </div>

        <div template="projects" field="id:id">

            <div id="projects">

                <div class="page-header">
                    <h1>Projects <small>in all their glory</small></h1>
                </div>

                <h2><a href="https://github.com/kanej/Posh-Cowsay">Posh Cowsay</a></h2>
                <p>Cowsay for Windows Powershell</p>


                <h2><a href="https://github.com/kanej/lein-s3-sync">Lein S3 Sync</a></h2>
                <p>Leiningen plugin for syncing a local directory to an S3 bucket</p>

                <h2><a href="https://github.com/kanej/clj-graph">Clj-Graph</a></h2>
                <p>Graph data structures and algorithms in Clojure</p>

            </div>

        </div>

        <div id="about">

            <div class="page-header">
                <h1>About <small>self-reflection</small></h1>
            </div>

            <p class="lead">
                I'm <strong>John</strong>, my passions are programming, tea, folk music,
                the odd dram and a <a href="http://www.shelfari.com/johnkane84/shelf">good book</a>.
            <p>
        </div>

        <footer>
            <nav class="navbar navbar-fixed-bottom" role="navigation" style="background: #222222;">
                <p class="text-muted" style="text-align: center; margin-top: 15px;">Built in <strong>Devon</strong>, from <strong>Cream Teas</strong></p>
                <!-- <img src="/devon.png" alt="Devon" class="img-circle" style="width:70px; border: 5px;"/> -->
            </nav>
        </footer>


        <div template="icon-panel" class="big-icon col-md-2 col-md-offset-1" field="id:id"></div>

        <script src="/raphael.js"></script>
        <script src="/game.js"></script>
        <script id="script-driver" src="/game-driver.js"></script>

    </div>

</_within>
